/* HTML/CSS Spin Start */
.spinner.spinning {
    -webkit-transform: rotateY(-180deg);
}
.spinner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 3s;
}
.spinner .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
}
.spinner .front {
    z-index: 1;
}
.spinner .back {
    -webkit-transform: rotateY(-180deg);
}
/* HTML/CSS Spin End */

/* Hero Text */
.home-text,
.main-nav {
    text-shadow: 3px 3px 4px #000, -1px -1px 1px #000;
}
.home-text * {
    top: -12%;
}
.name {
    font-size: 5em;
}
.main-nav.dark .inner-nav ul > li > a:hover,
.main-nav.dark .inner-nav ul > li > a:focus {
    color: #EEE;
    text-decoration: underline;
    text-shadow: 0 0 0 #000;
}
.main-nav.dark .inner-nav ul > li > a.active{
    text-decoration: overline;
    text-shadow: 0 0 0 #000;
}

/* Hover Effect Start, not working yet  |delete space -> * /
.tpl-alt-tabs a {
    color: #6f8686;
    text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.tpl-alt-tabs a p::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 1s, opacity 0.3s;
    -moz-transition: -moz-transform 1s, opacity 0.3s;
    transition: transform .2s, opacity 0.3s;
    pointer-events: none;
}

.tpl-alt-tabs a:hover p::before,
.tpl-alt-tabs a:focus p::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}
/* Hover Effect End */



/* Filter Effect Start */
.works-filter a {
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

.works-filter a span {
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;
    box-shadow: inset 0 3px #333;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.works-filter a span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    color: #333;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}

.works-filter a:focus span,
.works-filter .active span,
.works-filter a:active span {
    background: #999;
    color: #EEE;
}

.works-filter .active span::before,
.works-filter a:active span::before {
    color: #EEE;
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}
/* Filter Effect End */

/* Apps start */
#work-grid > li:nth-child(2) > a > p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.work-descr {
    font-size: 1.5em;
}

.work-intro{
    height: 168px;
    display: none;
    text-decoration: none;
    /*bottom: -294px;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*-webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);*/
    /*-moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);*/
    /*-o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);*/
    /*-ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);*/
    /*transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);*/
}
.work-item .work-img:after{
    -webkit-transition: all 0.54s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.54s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.54s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.54s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.54s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.work-item:hover p {
    font-weight: 700;
}

.work-item:hover .work-intro {
    display: block;
    /*visibility: visible;*/
    bottom: auto;
    top: 50%;
    color: #fff;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    z-index: 3;
}
/* Apps end */

.btn-dangerous {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    opacity: 1 !important;
}
.hinge {
    cursor: not-allowed !important;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}
.rubberBand,
.tada {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

/* Shows only 4 skills at a time */
@media (min-width: 992px) {
    #skills .container {
        width: 970px;
        padding-left: 6%;
        padding-right: 6%;
    }
    @media (min-width: 1200px){
        #skills .container {
            width: 1170px;
        }
    }
}
